*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body
{
display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}

.clock
{
    width:350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://user-images.githubusercontent.com/42720361/80282419-a293a400-8711-11ea-81c7-1c44e2980db2.png);
    background-size: cover;
    border: 16px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                inset 0 -15px 15px rgba(255,255,255,0.05),
                0 15px 15px rgba(0,0,0,0.3),
                inset 0 15px 15px rgba(0,0,0,0.3);
}
.clock:before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}
.clock .hour,
.clock .min,
.clock .sec
{
    position: absolute;
}
.clock .hour, .hr
{
 width: 160px;
 height: 160px;
}
.clock .min, .mn
{
 width: 190px;
 height: 190px;
}
.clock .sec, .sc
{
 width: 230px;
 height: 230px;
}
.hr, .mn, .sc
{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    position: absolute;
    border-radius: 50%;
}
.hr:before
{
  content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #660425;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before
{
  content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc:before
{
  content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #ff105e;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}
span
{
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  width: 9%;
  height: 4px;
  z-index: 25px;
  background: transparent;  
  transform-origin: left;
  animation: animate 4s linear infinite;
}

span:after
{
  content:'';
  position: absolute;
  width: 8px;
  height: 30px;
  border-radius: 80%;
  background: purple;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 30px blue;
}

@keyframes animate
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);  
  }
}

#date {
    font-size: 2em;
    margin-bottom: auto;
    color: #064568;
    position: relative;
    top: 59px ;
    right: -1px;
}